<div class="container">

    <form>
        <label for="t_text">T: </label>
		<input id="t_text" type="text"  class="form-control" ng-model="main.t_text">
        <label for="s_file">S: </label>
		<input id="s_file" type="file" file-uploader="s_file" class="form-control">
		<label for="t_file">T: </label>
		<input id="t_file" type="file" file-uploader="t_file" class="form-control">
		<label for="c_file">C: </label>
		<input id="c_file" type="file" file-uploader="c_file" class="form-control">
		<button ng-click="main.runUploadTest()" class = "btn btn-primary">Upload File</button>
    </form>

</div>
